:root {
  --box-size: 30px;
}

.game {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.box {
  border: 1px solid black;
  width: var(--box-size);
  height: var(--box-size);
}

