:root {
  --box-size: 30px;
}

.game {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.box {
  border: 1px solid black;
  width: var(--box-size);
  height: var(--box-size);
  text-align: center;
}

.hidden {
  background-color: gray;
}

.hidden:hover {
  background-color: lightgray;
}

.flag {
  background-color: red;
}

.flag:hover {
  background-color: lightcoral;
}
